{% extends 'base.html.twig' %}

{% block title %}Liste des jours!
{% endblock %}

{% block body %}

	<h1>Liste des jours crées</h1>

	<a href="/admin/day/create" class="btn btn-primary">Ajouter un jour</a>

	<ul>
		{% for day in days %}
			<li>
				<a href="/day/{{ day.id}}">{{ day.name }}
					{{ day.date|date("d/m/Y")}}</a>
			</li>
		{% endfor %}
	</ul>
</div>{% endblock %}
