{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel agent
{% endblock %}

{% block body %}
	<h1>Création d'un nouvel agent</h1>

	<div class="row">
		{{ form_start(formView) }}
		{{ form_errors(formView) }}
		{{ form_widget(formView) }}
		<button type="submit" class="btn btn-primary">
			Créer l'agent
		</button>
		{{ form_end(formView) }}
	</div>
{% endblock %}
